.section {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.button-container {
  display: flex;
}

.left-buttons,
.center-buttons,
.right-buttons {
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
  background-color: white;
}

.button-set {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
}

.game {
  height: 50px;
  width: 100px;
  margin: 2px;
  border: 2px solid black;
}