body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(180deg, #0f1c2b, #6588c3);
  
}

#title {
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
}

#title h1 {
  margin: 0;
}

#title p {
  margin: 5px 0 15px;
  opacity: 0.8;
}

#playerTurn {
  margin: 10px 0;
}

#resetButton {
  background-color: white;
  color: #525d69;
  border: 2px solid #778ca4;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#resetButton:hover {
  background-color: #4a90e2;
  color: white;
}


.section {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;
  color: white;
  justify-content: center;
  margin-top: 10px;
}

.left-buttons,
.center-buttons,
.right-buttons {
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
}

.button-set {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
}

.game {
  height: 50px;
  width: 100px;
  margin: 2px;
  background-color: white;
}

#top-left {
  background-image: url(assets/planet-sun.webpa);
}